
.ind-photo-wrapper {
  width: 600px;
  min-height: 400px;
  padding: 40px 0 40px 0;
}

.ind-photo-desc {
  width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
}

.artist {
  flex-direction: row; 
}

.artist img {
  width: 54px;
  border-radius: 50%;
  height: auto;
}
.artist-detail span {
  display: block;
  letter-spacing: -0.03em;
}

.name {
  font-weight: 600;
  color: #767676
}

.title {
  color: #FC8846
}

.artist-detail {
  margin-left: 10px;
  justify-content: flex-start;
}

.add-favorites {
  flex-direction: row;
  transition: all 0.2s ease-in
}

.add-favorites svg {
  width: 20px;
  height: 17px;
  margin-right: 12px;
}

.add-favorites span {
  letter-spacing: -0.03em;
  color: #767676;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.add-favorites:hover {
  cursor: pointer;
}

.add-favorites:active {
  transform: scale(0.8);
  transition: all 0.2s ease-in;
}

.add-favorites:hover span {
  color: #525252;
  transition: all 0.2s ease-in;
}

.ind-photo-download {
  width: 100%;
}

.photo-tags {
  margin: 18px 0;
  width: 100%;
  color: #525252;
  text-align: center;
  letter-spacing: -0.03em;
}

.photo-tags span{
  color: teal;
  font-weight: 600;
}

.ind-photo-download img{
  margin-top: 10px;
  width: 480px;
  height: auto;
}


.ind-photo-download button {
  font-weight: 600;
  letter-spacing: -0.04em;
  width: 180px;
  height: 50px;
  background: #FFE7DA;
  border: none;
  border-radius: 8px;
  color: #777777;
  transition: all 0.2s ease-in;
}


.ind-photo-download button:hover {
  cursor: pointer;
  background: #EED4C4;
  transition: all 0.2s ease-in;
}

.ind-photo-download button:active {
  transform: scale(0.8);
  transition: all 0.2s ease-in;
}

.ind-photo-download button:focus {
  outline: none;
}

@media (max-width: 1268px){
  .ind-photo-wrapper {
    width: 550px;
  }
  .photo-tags {
    width: 100%;
  }
  .ind-photo-download img{
    width: 450px;
  }
}

@media (max-width: 1068px){
  .ind-photo-wrapper {
    width: 500px;
    min-height: 300px;
  }
  .ind-photo-desc {
    height: 65px;
  }
  .artist img {
    width: 44px;
  }
  .photo-tags {
    width: 100%;
  }
  .ind-photo-download img{
    width: 420px;
  }
}

@media (max-width: 868px){
  .ind-photo-wrapper {
    width: 440px;
  }
  .artist img {
    width: 40px;
  }
  .ind-photo-download img{
    width: 380px;
  }
}

@media (max-width: 668px){
  .ind-photo-wrapper {
    width: 400px;
  }
  .ind-photo-download img{
    width: 340px;
  }
}

@media (max-width: 468px){
  .ind-photo-wrapper {
    width: 100%;
  }
  .artist {
    margin-left: 18px;
  }
  .artist-detail {
    margin-left: 5px;
  }
  .add-favorites {
    margin-right: 18px;
  }
  .add-favorites svg {
    margin-right: 3px;
  }
  .photo-tags {
    width: calc(100% - 36px);
  }
  .ind-photo-download img{
    width: calc(100% - 36px);
  }
}