

.collections-wrapper {
  width: 1230px;
  min-height: 500px;
  justify-content: flex-start;
  padding: 50px 0 100px 0;
}

.collections-header {
  min-height: 70px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  /* background: red; */
  /* background: rgba(190,190,190,0.5); */
}

.collections-header h3 {
  color: #3D3D3D;
  font-size: 2.8em;
  font-weight: 500;
  letter-spacing: -0.035em;
  line-height: 1.3em;
  /* background: red; */
}

.collection-buttons {
  min-height: 60px;
  flex-direction: row;
  justify-content: flex-start;
  /* background: rgba(190, 190, 190, 0.1); */
}

.collection-buttons a{
  text-decoration: none;
}

.collection-buttons a span {
  min-width: 50px;
  margin-right: 20px;
  padding: 8px 15px;
  font-size: 1.08em;
  border: 2px solid #E9BBA0;
  border-radius: 8px;
  color: #858585;
  transition: all 0.2s ease-in;
}

.collection-buttons a span:hover {
  background: #FAE7DC;
  transition: all 0.2s ease-in;
}

.collection-images-wrapper {
  margin-top: 15px;
  width: 100%;
  background: rgba(190,190,190,0.9);
}

.collection-images {
  float: left;
  margin-right: 30px;
  padding: 10px;
  width: 360px;  
  border-radius: 10px;
  background: #E4E4E4;
  transition: all 0.2s ease-in;
}

.collection-images:hover {
  background: #D9D9D9;
  transition: all 0.2s ease-in;
}

.collection-images img:first-child{
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0px;
}


.collection-images img:nth-child(2) {
  width: calc(50% - 3px);
  border-radius: 8px;
  margin-right: 5px;
}

.collection-images img:nth-child(3) {
  width: calc(50% - 3px);
  border-radius: 8px;
}

.collection-images h3 {
  font-size: 2.5em;
  line-height: 1.1em;
}

/* 
<div className="collection-images-wrapper">
  <div className="collection-images">
    <img src="/images/birthday01.jpg" alt=""/>
    <img src="/images/birthday02.jpg" alt=""/>
    <img src="/images/birthday03.jpg" alt=""/>
    <h3 className='text-1'>Birthdays</h3>
  </div>
  <div className="collection-images">
    <img src="/images/birthday01.jpg" alt=""/>
    <img src="/images/birthday02.jpg" alt=""/>
    <img src="/images/birthday03.jpg" alt=""/>
    <h3 className='text-1'>Birthdays</h3>
  </div>
  <div className="collection-images">
    <img src="/images/birthday01.jpg" alt=""/>
    <img src="/images/birthday02.jpg" alt=""/>
    <img src="/images/birthday03.jpg" alt=""/>
    <h3 className='text-1'>Birthdays</h3>
  </div>
</div>
*/