
.mid-header {
  width: 100%;
  padding-top: 5px;
  height: 60px;
  flex-direction: row;
  border-bottom: 2px solid #D8D8D8;
}

.mid-header-menu{
  font-weight: 600;
  width: 80px;
  line-height: 70px;
  height: 60px;
  text-align: center;
  margin: 10px;
}

.mid-header-menu a{
  text-decoration: none;
  color: #818181;
  width: 80px;
}

.mid-header-menu a:active {
  transition: all 0.1s ease-in;
  transform: scale(0.8);
}

.mid-header .active {
  border-bottom: 2px solid #EF9461;
}

.mid-header .active a{
  color: #EF9461;
}


@media (max-width: 1168px) {
  .mid-header {
    height: 50px;
  }
  .mid-header-menu {
    height: 50px;
    width: 75px;
  }
}

@media (max-width: 968px) {
  .mid-header-menu {
    width: 70px;
  }
}

@media (max-width: 468px) {
  .mid-header-menu {
    margin: 2px;
    width: 65px;
  }
}

@media (max-width: 368px) {
  .mid-header-menu {
    width: 60px;
  }
}