
.mid-header {
  width: 100%;
  padding-top: 5px;
  height: 70px;
  flex-direction: row;
  border-bottom: 2px solid #D8D8D8;
}

.mid-header-menu{
  font-size: 1.22em;
  font-weight: 600;
  width: 80px;
  line-height: 70px;
  height: 70px;
  text-align: center;
  margin: 20px;
}

.mid-header-menu a{
  text-decoration: none;
  color: #818181;
  width: 80px;
}

.mid-header-menu a:active {
  transition: all 0.1s ease-in;
  transform: scale(0.8);
}

.mid-header .active {
  border-bottom: 4px solid #EF9461;
}

.mid-header .active a{
  color: #EF9461;
}
