
.top-nav-header {
  width: 100%;
  height: 60vh;
  justify-content: space-between;
  z-index: 50;
  top: 0;
}

.top-nav-header h2 {
  margin-top: 45px;
  color: #F5F5F5;
  line-height: 1em;
  letter-spacing: -0.03em;
  font-weight: 500;
}

.top-header-input {
  flex-direction: row;
  height: 50px;
  margin: 5px 0
}

.top-header-input input{
  height: 50px;
  width: 480px;
  border: none;
  border-radius: 5px 0 0 5px;
  letter-spacing: -0.01em;
  padding-left: 20px;
  background: #F5F5F5;
}

.top-header-input input:focus, .top-header-input button:focus {
  outline: none;
}

.top-header-input button {
  border: none;
  background: #F5F5F5;
  height: 50px;
  width: 50px;
  border-radius: 0 5px 5px 0;
}

.top-header-input button:hover {
  cursor: pointer;
  transition: all 0.15s ease-in;
  background: #E8E8E8;
}

.top-header-input button:active svg {
  transition: all 0.1s ease-in;
  transform: scale(0.8);
}

.example-text {
  text-align: center;
  color: #FFB389;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.photo-by {
  width: 100%;
}

.photo-by span{
  float: right;  
  color: #D7D7D7;
  margin: 0 30px 14px 0;
  letter-spacing: -0.03em;
}

@media (max-width: 1068px) {
  .top-header-input input{
    width: 420px;
    height: 45px;
  }
  .top-header-input button {
    height: 45px;
    width: 45px;
  }
  .top-header-input button svg{
    height: 20px;
    width: 21px;
  }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
  .top-nav-header {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .top-header-input input{
    width: 390px;
  }
}

@media (max-width: 568px) {
  .top-header-input input{
    width: 360px;
  }
}

@media (max-width: 468px) {
  .top-header {
    margin-top: 70px
  }
  .top-nav-header h2 {
    width: calc(100% - 50px);
    margin: 0 20px;
    text-align: center;
    line-height: 0.8em;
  }
  .top-header-input {
    width: calc(100% - 32px);
  }
  .top-header-input input{
    width: calc(100% - 92px);
    height: 42px;
  }
  .top-header-input button {
    height: 42px;
    width: 42px;
  }
  .example-text {
    width: calc(100% - 22px);
  }
  .photo-by span{
    margin: 0;
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
    text-align: center;
    float: none;  
  }
}
